Package: slamcore-dkms
Version: 21.06.1
Architecture: arm64
Installed-Size: 21315
Depends: dkms (>= 1.95)
Priority: optional
Maintainer: Thomas Bastiani <thomas@slamcore.com>
Section: kernel
Homepage: https://github.com/slamcore/slamcore-dkms
Description: Modified kernel modules for Intel RealSense cameras
 .
 The package has been tested and is compatible with Ubuntu 18.04 (64-bit) on
 Raspberry Pi 4 as well as most of the Nvidia Jetson platforms running L4T
 32.4.4 through to 32.6.1.
 .
 The package uses the DKMS system to automatically compile and install the
 modified driver on your current and future kernels.
 .
 Please note that contrary to the original "librealsense2-dkms" package, the
 target needs to be rebooted for the change to take effect.
 .
 The present package also provides udev rules for Intel RealSense.
